<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="/static/style.css"/>
        <title>Search Visualization</title>
    </head>
    <body>
        <div id="content">
            <h1 class="title is-1">Search Visualization</h1>
            <div class="field">
                <div class="control">
                    <input id="query" class="input" type="text" placeholder="Text input">
                </div>
            </div>
            <p id="err_msg"></p>
            <div class="field">
                <div class="control">
                    <button id="submit" class="button is-link">Submit</button>
                </div>
            </div>
            <p id="resp-output"></p>      
            <svg id='graph-canvas'></svg>
            <script src="https://d3js.org/d3.v4.js"></script>
            <script src="/static/vis.js"></script>
        </div>
    </body>
</html>