#content {
    margin: auto;
    width: 80%;
}

#err_msg {
    color: red;
}

#graph_canvas {
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    position: relative;
}

#graph_position {
    position: relative;
    width: 100%;
}

#color_info {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid black;
    z-index: 1000;
    background-color: white;
}

.data_control {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider_control {
    width: 250px;
    display: grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "title number"
                        "slider slider";
}

.slider {
    grid-area: slider;
}


